.graph {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  height: 50vh;
  max-height: 50vh;
}

/* Override bootstrap button color */
.btn, .dropdown-item {
  color: #322620 !important;
  background-color: white !important;
  font-weight: bold !important;
}

.chartTitle {
  text-align: center;
  font-weight: bolder;
  font-size: calc(2vh + 1.5vw);
  color: #322620;
}