h5 {
  margin-bottom: 0 !important;
}

.textBox {
  border-radius: 20px !important;
  border-width: 0px !important;
  font-weight: bolder;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

/* Desktop: more padding */
@media (min-width: 575px) {
  .card-body {
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
  }
}

/* Desktop: hide mobile */
@media (min-width: 575px) {
  .mobileOnly {
    display: none
  }
}

/* Mobile: hide desktop */
@media (max-width: 575px) {
  .desktopOnly {
    display: none
  }
}
