.Status {
  min-height: 100vh;
}

.Status-header, .Status-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
  background-color: #282c34;
}

.Status-body a {
  color: white;
}
